<html>
   <head>
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
   </head>
   <body>


      <nav class="navbar">
         <div class="logo">Blog site</div>
         <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle">
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
               
               <% if(!currentUser){ %>
                  <li class="li" ><a  class="a" href="/">Home</a></li>
                  <li class="li" ><a  class="a" href="/signup">Sign Up</a></li>
                  <li class="li" ><a  class="a" href="/login">Login</a></li>
               <% }else{ %>
                  <li class="li">Signed in as: <%= currentUser.username %></li>
                  <li class="li" ><a  class="a" href="/logout">Logout</a></li>
               <% } %>
               <!-- <% if(currentUser.role === admin){ %>
                  <li class="li" ><a  class="a" href="/blogs/new">New Post</a></li>
                  <li class="li" ><a  class="a" href="/logout">Logout</a></li>
               <% } %>  -->
            </div> 
         </ul>
      </nav>



     <!--  <div class="ui fixed inverted menu">
         <div class="ui container">
            <div class="header item"><i class="code icon">Blog site</i></div>
            <a href="/" class="item"> Home</a>
            <a href="/blogs/new" class="item"> New Post</a>
            <div class="pen">
               <a href="/signup">Sign Up</a>
               <a href="/login">Login</a>
               <a href="/logout">Logout</a>
            </div>
         
         </div>

      </div> -->
           
