<%- include ("partials/header") -%>



<div class=" container close">
   <h2 class="h">Log in</h2>

   <form action="/login" method="POST" class="mb-3">
      <input  class="input" type="text"  name="username" placeholder="Username">
      <input  class="input" type="password" name="password"  placeholder="Password">
      <button class="go">Log in</button>
   </form>

   <p class="para " style="color: aliceblue;">
      Don't have an account? <a href="/signup"> Sign Up here</a>
   </p>

</div>

<%- include ("partials/footer") -%>