<%- include ("partials/header") -%>

<div class="close">
   <h2 class="h" >Sign Up</h2>

   <form action="/signup" method="POST" class="mb-3">
      <input class="input" type="text"  name="username" placeholder="Username">
      <input class="input" type="email"  name="email" placeholder="Email">
      <input class="input" type="password" name="password"  placeholder="Password">
      <button class="go">Submit</button>
   </form>
   <p class="para" style="color: aliceblue;">
      Already a User? <a href="/login">Login here</a>
   </p>

</div>

<%- include ("partials/footer") -%>